{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<div class="container ml-5 mt-5 mr-5">
  <h1>Are you sure?</h1>
  <form method="POST" action="{% url 'tugas:confirmation' %}">
    {% csrf_token %}
    <ul>
      <li>Name: <input type="text" class="form-control" id="name" name="name" maxlength="30" readonly value="{{ name }}"> </li>
      <li>Status: <input type="text" class="form-control" id="status" name="status" maxlength="100" readonly value="{{ status }}"> </li>
    </ul>
    <input type="submit" value="Submit" name="submitt">
    <a href="{% url 'tugas:status' %}"><input type="button" value="Cancel" name="cancell"></input></a>
  </form>
</div>


{% endblock %}