{% extends 'pages/base.html' %}
{% load static %}


{% block content %}

<body>


  <div class="container ml-5 mt-5 mr-5">
    <h1>Hello, how are you?</h1>
    <form method="POST">
      {% csrf_token %}
      <label style="font-size:20px; font-weight: 600">Name</label>
      <input type="text" class="form-control" name="name" maxlength="30" placeholder="Your Name" required> <br>
      <label style="font-size:20px; font-weight: 600">Status</label>
      <input type="text" class="form-control" name="status" maxlength="100" placeholder="Your Status" required>
      <input type="submit" value="Submit" name="submitstatus">
      <!-- <a class="btn btn-primary" href="{% url 'tugas:confirmation' %}">Redirect </a> -->
    </form>
  </div>

  <h1 class="text-center mt-5 mb-5" style="font-weight:700">Status</h1>
  <div class=" col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <table class="table">
        <thead style="font-size: 25px">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody style="font-size: 20px">
          {% for stats in stats %}
          <tr>
            <td>{{stats.name}}</td>
            <td>{{ stats.status }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}